.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger {
    background-image: url("../assets/Menu\ Aberto.png");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-azul-degrade);
}

.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburger {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-azul-degrade);
        color: var(--cor-branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background-color: var(--cor-azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        /* usei o webkit de novo, pois havíamos associado o webkit como transparente*/
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__texto {
        display: block;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}
/* 

    display: none - desparece com o elemento e também não ocupa espaço

    .container__botao:checked ~ .lista-menu - quando estiver preenchido o input ele faz algo. O "~" é um combinador CSS, onde ele procura o elemento no css e vincúla eles.

    position: relative - libera a opção de colocar outros atributos como top, left, bottom e right

    position: absolute - permite que a gente movimente nosso elemento, de acordo com outro que veio antes, ou o pai.

    top: 100% - moveu 100 do topo do cabeçalho

    background-clip: text - ele prende o background só aonde tem texto

    webkit: apenas para funcionar em outros tipos de navegadores
